* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: white;
  font-family: "Barlow", sans-serif;
  font-family: "Lato", sans-serif;
}

i {
  color: #eda930;
}

/*side nav*/
#check {
  display: none;
}

#cancel {
  position: fixed;
  left: -10%;
  top: 5%;
  font-size: 40px;
  z-index: 1111;
  cursor: pointer;
}

#btn {
  position: fixed;
  left: 3%;
  top: 5%;
  font-size: 35px;
  cursor: pointer;
  transition: all 0.5s ease;
}

#check:checked ~ .sidebar {
  left: 0%;
}

#check:checked ~ #cancel {
  left: 10%;
  transition: all 0.5s ease;
}

#check:checked ~ #btn {
  left: 20%;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ .landing {
  margin-left: 20%;
}

.sidebar {
  position: fixed;
  background-color: #100f2e;
  width: 20%;
  height: 100%;
  left: -20%;
  transition: all 0.5s ease;
}
.sidebar ul {
  margin-top: 50%;
}
.sidebar li {
  margin-top: 20px;
}
.sidebar a {
  color: white;
  font-size: 20px;
  display: block;
  text-align: center;
}
.sidebar a:hover {
  text-decoration: none;
  color: #eda930;
}

/*landing page*/
.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0a0919;
  transition: all 0.5s ease;
}

.landing-div .landing-p p {
  position: relative;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
}
.landing-div .landing-p span {
  margin-left: 6px;
  color: #eda930;
  position: absolute;
  animation: 12s steps(1, end) infinite text-rotate;
  font-weight: 700;
  opacity: 0;
}
.landing-div .landing-p span:nth-child(2) {
  animation-delay: 2s;
}
.landing-div .landing-p span:nth-child(3) {
  animation-delay: 4s;
}
.landing-div .landing-p span:nth-child(4) {
  animation-delay: 6s;
}
.landing-div .landing-p span:nth-child(5) {
  animation-delay: 8s;
}
.landing-div .landing-p span:nth-child(6) {
  animation-delay: 10s;
}
@keyframes text-rotate {
  0% {
    opacity: 1;
  }
  15.5% {
    opacity: 1;
  }
  16.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.landing-div h4:first-child {
  color: #eda930;
}
.landing-div h1 {
  font-weight: 900;
  font-size: 50px;
}
.landing-div p {
  font-size: 18px;
}

.landing-info {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

.landing-buttons {
  text-align: center;
}
.landing-buttons a {
  margin-left: 10px;
  border-radius: 20px;
  padding: 12px 18px;
  font-weight: 700;
  border: 1px solid #eda930;
}
.landing-buttons a:hover {
  text-decoration: none;
}
.landing-buttons a:first-child {
  background-color: #eda930;
  color: white;
}
.landing-buttons a:first-child:hover {
  background-color: transparent;
  color: #eda930;
}
.landing-buttons a:last-child {
  color: #eda930;
}
.landing-buttons a:last-child:hover {
  background-color: #eda930;
  color: white;
}

/*about me*/
.about-me {
  background-color: #100f2e;
}
.about-me h3,
.about-me h4,
.about-me h5 {
  color: #eda930;
}
.about-me .d-flex {
  justify-content: space-around;
}
.about-me .skillset {
  margin-top: 10px;
}
.about-me .skillset span {
  font-size: 17px;
}

.about-me-spec {
  width: 80%;
  margin: auto;
  font-size: 18px;
}

/*portfolio*/
.portfolio {
  background-color: #0a0919;
  padding: 20px 0;
}
.portfolio h4 {
  margin: 0;
  font-size: 30px;
  padding-top: 2%;
  color: #eda930;
  text-align: center;
}
.portfolio .portfolio-projects {
  margin: 4% 0 2%;
  display: flex;
  flex-wrap: wrap;
}
.portfolio .portfolio-project {
  margin: 1% 0 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.portfolio .portfolio-project img {
  width: 50%;
}
.portfolio .portfolio-project h5 {
  font-size: 23px;
}
.portfolio .project-specs {
  margin-top: 2%;
  width: 100%;
}
.portfolio .project-specs p {
  font-size: 18px;
  text-align: center;
}
.portfolio .project-specs p:first-child {
  width: 80%;
  margin: 2% auto;
}
.portfolio .project-specs p span {
  font-size: 14px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 1%;
  margin: 1%;
}
.portfolio .project-buttons {
  margin-top: 4%;
  text-align: center;
}
.portfolio .project-buttons span {
  border-radius: 20px;
  padding: 10px;
  font-weight: bolder;
  font-size: 14px;
}
.portfolio .project-buttons span:first-child {
  background-color: #eda930;
  margin-right: 2%;
}
.portfolio .project-buttons span:first-child a {
  color: white;
}
.portfolio .project-buttons span:first-child a:hover {
  text-decoration: none;
}
.portfolio .project-buttons span:last-child {
  border: 1px solid white;
  margin-left: 2%;
}
.portfolio .project-buttons span:last-child a {
  color: #eda930;
}
.portfolio .project-buttons span:last-child a:hover {
  text-decoration: none;
}

/*footer*/
footer {
  background-color: #100f2e;
  padding: 20px;
}
footer p {
  font-size: 18px;
  margin: 0;
}
footer span {
  font-size: 18px;
}
footer .footer-content {
  display: flex;
  justify-content: space-around;
}
footer .footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27%;
}
footer .footer-link {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #eda930;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 10px;
}

/*media queries*/
@media screen and (max-width: 992px) {
  .sidebar {
    width: 40%;
    left: -40%;
    z-index: 1109;
  }

  #check:checked ~ .landing {
    margin-left: 0%;
  }

  .landing-div h1 {
    font-size: 40px;
  }
  .landing-div p {
    font-size: 17px;
  }

  footer p,
footer span {
    font-size: 18px;
  }
  footer .footer-links {
    width: 34%;
  }
}
@media screen and (max-width: 768px) {
  #btn {
    font-size: 25px;
  }

  .sidebar {
    width: 50%;
    left: -50%;
    z-index: 1109;
  }

  .landing h4,
.landing h1 {
    text-align: center;
  }

  .landing img {
    display: none;
  }

  .landing-div {
    width: 100%;
  }

  .landing-p p {
    text-align: center;
    margin-left: -15%;
  }

  .img {
    display: none;
  }

  .portfolio-project {
    width: 100% !important;
    margin: 2% 0 10% !important;
  }

  footer p,
footer span {
    font-size: 16px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .footer-content .footer-links {
    margin-top: 5%;
    width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .sidebar {
    width: 100%;
    left: -100%;
  }

  .landing {
    height: 100vh;
  }

  .landing-div h1 {
    font-size: 30px;
  }
  .landing-div h4 {
    font-size: 18px;
  }
  .landing-div .landing-p p {
    font-size: 14px;
    margin-left: -25%;
  }

  .landing-buttons a {
    padding: 8px 14px;
    font-size: 14px;
  }

  .intro,
.row,
.intro-interests {
    font-size: 15px;
  }

  footer {
    padding: 20px 5px;
  }
  footer p,
footer span {
    font-size: 13px;
  }
  footer .footer-content {
    width: 100%;
  }
  footer .footer-links {
    width: 60% !important;
  }
  footer .footer-link {
    width: 20px;
    height: 20px;
    padding: 15px;
  }
}