* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: white;
  font-family: "Barlow", sans-serif;
  font-family: "Lato", sans-serif;
}

i {
  color: #eda930;
}

/*side nav*/
#check {
  display: none;
}

#cancel {
  position: fixed;
  left: -10%;
  top: 5%;
  font-size: 40px;
  z-index: 1111;
  cursor: pointer;
}

#btn {
  position: fixed;
  left: 3%;
  top: 5%;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.5s ease;
}

#check:checked ~ .sidebar {
  left: 0%;
}

#check:checked ~ #cancel {
  left: 10%;
  transition: all 0.5s ease;
}

#check:checked ~ #btn {
  left: 20%;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ .landing {
  margin-left: 20%;
}

.sidebar {
  position: fixed;
  background-color: #100f2e;
  width: 20%;
  height: 100%;
  left: -20%;
  transition: all 0.5s ease;
}
.sidebar ul {
  margin-top: 50%;
}
.sidebar li {
  margin-top: 20px;
}
.sidebar a {
  color: white;
  font-size: 20px;
  display: block;
  text-align: center;
}
.sidebar a:hover {
  text-decoration: none;
  color: #eda930;
}

/*landing page*/
.landing {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #0a0919;
  transition: all 0.5s ease;
}

img {
  height: inherit;
  width: 50%;
}

.landing-div .landing-p {
  /*
  @keyframes text-rotate {
    0% {
      opacity: 1;
    }
    19% {
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  */
}
.landing-div .landing-p p {
  position: relative;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
}
.landing-div .landing-p span {
  margin-left: 6px;
  color: #eda930;
  position: absolute;
  animation: 12s steps(1, end) infinite text-rotate;
  font-weight: 700;
  opacity: 0;
  /*
   *
  animation: 10s steps(1,end) infinite text-rotate;
  font-weight: 700;
  opacity: 0;

  @for i from 2 through 5 {

    &:nth-child(i) {

      animation-delay: 2s * ( i - 1 );

    }

  }
  */
}
.landing-div .landing-p span:nth-child(2) {
  animation-delay: 2s;
}
.landing-div .landing-p span:nth-child(3) {
  animation-delay: 4s;
}
.landing-div .landing-p span:nth-child(4) {
  animation-delay: 6s;
}
.landing-div .landing-p span:nth-child(5) {
  animation-delay: 8s;
}
.landing-div .landing-p span:nth-child(6) {
  animation-delay: 10s;
}
@keyframes text-rotate {
  0% {
    opacity: 1;
  }
  15.5% {
    opacity: 1;
  }
  16.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.landing-div h4:first-child {
  color: #eda930;
}
.landing-div h1 {
  font-weight: 900;
  font-size: 50px;
}
.landing-div p {
  font-size: 18px;
}

.landing-buttons {
  text-align: center;
}
.landing-buttons a {
  margin-left: 10px;
  border-radius: 20px;
  padding: 12px 18px;
  font-weight: 700;
  border: 1px solid #eda930;
}
.landing-buttons a:hover {
  text-decoration: none;
}
.landing-buttons a:first-child {
  background-color: #eda930;
  color: white;
}
.landing-buttons a:first-child:hover {
  background-color: transparent;
  color: #eda930;
}
.landing-buttons a:last-child {
  color: #eda930;
}
.landing-buttons a:last-child:hover {
  background-color: #eda930;
  color: white;
}

/*about me*/
.intro {
  background-color: #100f2e;
  min-height: 50vh;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}
.intro .img {
  margin-right: 5%;
  width: 60%;
  text-align: right;
}
.intro .img img {
  width: 40%;
}
.intro h5 {
  color: #eda930;
  font-size: 18px;
}
.intro p {
  width: 50%;
}

.row {
  width: 50%;
  margin-top: 1%;
}

.intro-interests span {
  padding: 10px;
}

/*footer*/
footer {
  background-color: #0a0919;
  padding: 20px;
}
footer p {
  font-size: 18px;
  margin: 0;
}
footer span {
  font-size: 18px;
}
footer .footer-content {
  display: flex;
  justify-content: space-around;
}
footer .footer-links {
  display: flex;
  justify-content: space-around;
  width: 27%;
}
footer .footer-link {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #eda930;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/*media queries*/
@media screen and (max-width: 992px) {
  .sidebar {
    width: 40%;
    left: -40%;
    z-index: 1109;
  }

  #check:checked ~ .landing {
    margin-left: 0%;
  }

  .landing-div h1 {
    font-size: 40px;
  }
  .landing-div p {
    font-size: 17px;
  }

  .intro p {
    width: 75%;
  }
  .intro .img img {
    width: 80%;
  }
  .intro .row {
    width: 80%;
  }

  footer p, footer span {
    font-size: 18px;
  }
  footer .footer-links {
    width: 34%;
  }
}
@media screen and (max-width: 768px) {
  .sidebar {
    width: 50%;
    left: -50%;
    z-index: 1109;
  }

  .landing h4, .landing h1 {
    text-align: center;
  }

  .landing img {
    display: none;
  }

  .landing-div {
    width: 100%;
  }

  .landing-p p {
    text-align: center;
    margin-left: -15%;
  }

  .img {
    display: none;
  }

  .intro-div h5, .intro-div .intro-interests {
    text-align: center;
    width: 100%;
    font-size: 18px;
  }
  .intro-div p {
    text-align: center;
    width: 100%;
    font-size: 18px;
  }
  .intro-div .row {
    width: 100%;
    text-align: center;
  }

  footer p, footer span {
    font-size: 20px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .footer-content .footer-links {
    margin-top: 5%;
    width: 70%;
  }
}